{% extends 'base.html.twig' %}


{% block body %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success" role="alert">{{message}}</div>
	{% endfor %}

	<img src="{{ asset('assets/img/banner.jpg') }}" class="d-flex" id="hero">
	<a class="down mx-2" href="#tricks">
		<i class="fa-solid fa-angles-down"></i>
	</a>
	<div class="container">
		<div class="row">
			<h2 class="text-center mt-5" id="tricks">Les derniers tricks ajoutés</h2>
			{% if app.user %}
				<h5 class="text-center mt-3" id="tricks">Vous pouvez modifier ou supprimer les tricks depuis la
					<a href="{{ path('tricks') }}">liste des tricks</a>
				</h5>
			{% endif %}
			<hr class="mb-5">
			{% for trick in tricks %}
				<div class="col col-lg-2 mx-3 px-1">
					<div class="card text-center mt-2 mb-3 border border-dark">
						<div class="card-body">
							<img class="card-img" src="{{ asset('uploads/mainmediatricks/' ~ trick.mainMedia) }}" style="height:10rem; width:11rem">
							<h2 class="card-title mt-2">
								<a href="{{ path('show', {'id': trick.id , name: trick.name}) }}">{{ trick.name }}</a>
							</h2>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<a class="up mx-2" href="#top">
		<i class="fa-solid fa-angles-up" aria-hidden="true"></i>
	</a>

{% endblock %}
