{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success" role="alert">{{ message }}</div>
		{% endfor %}
		<div class="row text-center">
			<h1 class="mt-5 mb-5">Liste des tricks</h1>
			<hr class="mb-5">
			{% for trick in tricks %}
				<div class="col col-lg-2 col-md-5 mx-3 px-1">
					<div class="card text-center mt-2 mb-3 border border-dark">
						<div class="card-body">
							<img class="card-img-top" src="{{ asset('uploads/mainmediatricks/' ~ trick.mainMedia) }}" style="height: 10rem">
							<h2 class="card-title mt-2">
								<a href="{{ path('show', {'id': trick.id , 'name': trick.name}) }}">{{ trick.name }}</a>
								{% if app.user %}
									<a href="{{ path('edit', {'id': trick.id , 'name': trick.name}) }}" style="text-decoration:none">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewbox="0 0 16 16">
											<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
										</svg>
									</a>
									<a href="{{ path('delete', {'id': trick.id}) }}" onclick="return confirm('Confirmer la suppression ? Cette action est irréversible.');" style="text-decoration:none">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
											<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
											<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
										</svg>
									</a>
								{% endif %}
							</h2>
						</div>
					</div>

				</div>
			{% endfor %}
		</div>
		<div class="row mt-3 mx-auto" style="width: 200px;">
			<nav aria-label="Pagination tricks">
				<ul class="pagination">
					{% if page != 1 %}
						<li class="page-item">
							<a class="page-link" href="{{ path('tricks', {page: page - 1}) }}">Previous</a>
						</li>
					{% endif %}

					{% for i in range(1, nbpages) %}
						<li class="page-item">
							<a class="page-link" href="{{ path('tricks', {page: i}) }}">{{i}}</a>
						</li>
					{% endfor %}

					{% if page != nbpages %}
						<li class="page-item">
							<a class="page-link" href="{{ path('tricks', {page: page + 1}) }}">Next</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</div>
{% endblock %}
