{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block body %}
	<h1>Liste des utilisateurs</h1>
	{% for user in users %}
		<h2>{{ user.id }}</h2>
		<div>{{ user.username }}</div>
		<div>{{ user.Email }}</div>
		<div>{{ user.password }}</div>
		<div><img src="{{ asset('uploads/avatars/' ~ user.Photo) }}"></div>
	{% endfor %}
{% endblock %}
